<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.cjh.example.mappers.LbscMapper">
  <resultMap id="BaseResultMap" type="per.cjh.example.domain.Lbsc">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sno" jdbcType="VARCHAR" property="sno" />
    <id column="cname" jdbcType="VARCHAR" property="cname" />
    <id column="term" jdbcType="VARCHAR" property="term" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="CHAR" property="phone" />
  </resultMap>
</mapper>