#header .top .backMain {
	width: 110px;
	height: 28px;
	background: #9e2121 url(../images/首页.png) no-repeat 15px 6px;
	float: right;
	margin-top: -24px;
}
#header .top .backMain p {
	color: #fff;
	line-height: 28px;
	font-size: 14px;
	padding-left: 35px;
}
.tip {
	margin: 30px 36px;
	border: 1px dashed #fea95d;
	width: 1126px;
	height: 49px;
	background-color: #fdf5ed;

}
.tip p {
	padding: 20px;
	font-size: 14px;
	color: #ff8c3c;
}
.find span{
	display:inline-block;
	width: 100px;
	text-align:right;
}
.find input {
	width: 278px;
	height: 48px;
	margin-bottom: 25px;
	border:1px solid #dfdfdf;
}
.find input[placeholder] {
	padding-left: 10px;
}
